<img class="page-img" {{bindAttr src="image_url"}}>
<div class="link-content">
  <h2>{{title}}</h2>
  <img class="favicon" {{bindAttr src="favicon_url"}}>
  <a {{bindAttr href="url"}} class="url" target="_blank">{{rootUrl}}</a>
  <p class="description">{{shortDescription}}</p>
  <div class="options">
    <span {{action deleteLink}} class="reminder icon-clock"></span>
    <span class="move-to icon-menu"></span>
    <span class="delete icon-trash"></span>
  </div>
  <div class="clear"></div>
</div>
