<img class="page-img" {{bindAttr src="image_url"}}>
<div class="link-content">
  <h2>{{title}}</h2>
  <img class="favicon" {{bindAttr src="favicon_url"}}>
  <span class="url">{{rootUrl}}</span>
  <p class="description">{{description}}</p>
  <div class="clear"></div>
</div>
