{{view App.AddLinkFieldView class="add-link" placeholder="Paste a link you wanna save..."}}
{{#with controller.controllers.urlExtraction.content}}
  <div class="link-preview">
      <h1>{{title}}</h1>
      <img {{bindAttr src="favicon"}} alt="">
      <span>{{url}}</span>
      <p>{{description}}</p>
      <img {{bindAttr src="image"}} alt="">
  </div>
{{/with}}
