<section class="add-search-section">
  <div class="add-search-link">
    {{render 'search'}}
    {{render 'urlExtraction'}}
  </div>

  <div class="contexts-list">
    {{controller.name}}
    <ul>
      {{#each controller}}
        <li>{{#linkTo 'contexts.groups' this}}{{name}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </div>
</section>
{{outlet}}

